.b1{
    justify-content: center;
    display: flex;
    gap: 10px;
    padding-top: 80px;
}

.a1{
    background-color: rgb(201, 160, 160);
    width: 300px;
    height: 130px;
    background-color: #ffffff;
    box-shadow: -40px 30px 45px -30px rgb(0 0 0 / 20%);
    text-align: left;
    border-radius: 0px 0px 0px 36px;
}

.a2{
    justify-content: center;
    width: auto;
    box-shadow: -40px 30px 45px -30px rgb(0 0 0 / 20%);
    padding: 10px;
    overflow: scroll;
    height: 930px;
}

.a2::-webkit-scrollbar{
    display: none;
}

.a3{
    width: 150px;
    height: 400px;
    box-shadow: -40px 30px 45px -30px rgb(0 0 0 / 20%);
}

.c1{
    display: flex;
    justify-content: space-between;

}
h3{
    margin: 10px;
    width: 127px;
    font-size: 0.83em;
}